<h1 class="govuk-heading-xl">Example Application</h1>
<h1><%= @title %></h1>
<p>Welcome to the <%= @title %></p>
<br>
<h3>Checking Features</h3>
<% if @featureEG1 %>
    <p>Feature: <strong>EG1</strong> is <strong>ON</strong>.</p>
<% else %>
    <p>Feature: <strong>EG1</strong> is <strong>OFF</strong>.</p>
<% end %>
<br>
<h3>Environment Variables.</h3>
<table border="2" style="width: 100%; table-layout: fixed;">
    <tr><th>Property</th><th>Value</th></tr>
    <% @localEnv.each do |k, v| %>
        <tr><td><%= k %></td><td style="width: 100%; white-space: pre-wrap; overflow: hidden; text-overflow: ellipsis;"><%= v %></td></tr>
    <% end %>
</table>
<br>
<% @apiResponses.each do |data| %>
    <% if data['apiCallOK'] && data['response'] != nil %>
        <% if !data['response']['properties'].blank?  %>
            <h3>System Properties obtained from request to [<%= data['base_url'] %>].</h3>
            <table border="2" style="width: 100%; table-layout: fixed;">
                <tr><th>Property</th><th>Value</th></tr>
                <% data['response']['properties'].each do |k, v| %>
                    <tr><td><%= k %></td><td style="width: 100%; white-space: pre-wrap; overflow: hidden; text-overflow: ellipsis;"><%= v %></td></tr>
                <% end %>
            </table>
            <br>
            <br>
        <% end %>
        <% if !data['response']['environment'].blank? %>
            <h3>Environment Variables obtained from request to [<%= data['base_url'] %>].</h3>
            <table border="2" style="width: 100%; table-layout: fixed;">
                <tr><th>Variable</th><th>Value</th></tr>
                <% data['response']['environment'].each do |k, v| %>
                    <tr><td><%= k %></td><td style="width: 100%; white-space: pre-wrap; overflow: hidden; text-overflow: ellipsis;"><%= v %></td></tr>
                <% end %>
            </table>
            <br>
            <br>
        <% end %>
        <h3>System Runtime information from [<%= data['base_url'] %>].</h3>
        <table border="2" style="width: 100%; table-layout: fixed;">
            <tr><th>Setting</th><th>Value</th></tr>
            <tr><td>Available Processors</td><td><%= data['response']['availableProcessors'] %></td></tr>
            <tr><td>Max Memory</td><td><%= data['response']['maxMemory'] %></td></tr>
            <tr><td>Total Memory</td><td><%= data['response']['totalMemory'] %></td></tr>
            <tr><td>Free Memory</td><td><%= data['response']['freeMemory'] %></td></tr>
        </table>
    <% else %>

        <h3>Error Querying <%= data['name'] %> at <%= data['base_url'] %></h3>
    <% end %>
<% end %>